* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* NAVIGATION SECTION*/
.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 13px;
   position: sticky;
   background-color: rgb(72, 113, 152);
   height: 20vh;
   margin-bottom: 2rem;
   
}

.nav-links a:hover {
    color: bisque;
}

.nav-links a {
    text-decoration: none;
    color: white;
    
}
.nav-links {
    display: flex;
    list-style: none;
    gap: 3rem;

    
}

.cart-icon {
    border: none;
    padding: 0.8rem 1rem;
    margin-left: 5rem;
    border-radius: 8px;
    
}

.cta-btn {
    padding: 1rem;
    border-radius: 8px;
    margin-top: 15px;
    cursor: pointer;
}

.cta-btn:hover {
    transform: translateY(-5px);
    background-color:azure;
}

body {
    background-color:rgb(229, 217, 201);
    font-family: 'Times New Roman', Times, serif;

}
/* HERO SECTION */
.hero {
    justify-content: center;
    align-items: center;
}
.hero-content {
    font-style: oblique;
    font-size: 1.45rem;
   margin-left: 2rem;
   margin-bottom: 2rem;
}

.image {
    margin-left: 5rem;
}

.image-set {
    width: 70vw;
    height: 90vh;
    margin-bottom: 3rem;
}

h2 {
    font-size: 2.4rem
    
}

h1 {
   color: rgb(224, 9, 9); 
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,2fr));
    gap: 2rem;
    padding: 2rem;
    margin-left: 20rem;
 }

 /* Product Card */
 .product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 2rem;
    background: rgb(125, 112, 112);
    border-radius: 8px;
   
 }

 .product-card:hover {
    transform: translateY(-15px);
 }

 .product-card img {
    height: 260px;
    object-fit: cover;
 }

 .product-info {
    padding: 1rem;
 }

 .product-info h3 {
    margin-bottom:0.5rem;
 }
 .rating {
    color: gold;
    margin-bottom: 0.5rem;
 }

 .price {
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 1rem;
 }
